{% extends 'bootstrap/base.html' %}

{% block content %}


<div class="card bg-dark text-white " style="margin: 10px">
  <div class="card-heading">
    <h1 class="card-title">Lista de convidados</h1>
  </div>

  <form class="form-inline" method="post" style="margin: 20px 0" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.nome(size=32, type="text", class="form-control", placeholder="Nome") }}
			{{ form.acomp(size=32, class="form-control", placeholder="Acompanhantes") }}
			{{ form.enviar(class="btn btn-primary") }}
    </div>
  </form>

  <div class="card-body">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Acompanhates</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for convidado in convidados %}
        <tr>
          <td>{{ convidado.nome }}</td>
          <td>{{ convidado.acompanhante }}</td>
          <td>
            <div class="btn-group d-flex justify-content-end">
              <a href="{{ url_for('festa.update', id=convidado.id) }}" class="btn btn-sm btn-primary">Editar</a>
              <a href="{{ url_for('festa.delete', id=convidado.id) }}" class="delete btn btn-sm btn-danger">Excluir</a>

            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>



<!--Input dos convidados
  <form class="form-inline" method="post" th:object="${convidado}" th:action="@{/convidados}" style="margin: 20px 0">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nome" th:field="*{nome}" />
      <input type="text" class="form-control" placeholder="Acompanhantes" th:field="*{quantidadeAcompanhantes}" />
      <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
  </form>
  -->

{% endblock %}